# Deals with ECAL x and y pos

In [5]:
def read_xypos_from_file(filename, delimiter=' '):
    numbers = []
    try:
        with open(filename, 'r') as f:
            for line in f:
                line = line.split('#')[0]  # Remove comment after '#'
                row = [float(x) for x in line.strip().split(delimiter) if x]
                numbers.extend(row)
        return numbers
    except FileNotFoundError:
        raise FileNotFoundError(f"File '{filename}' not found.")
    except ValueError:
        raise ValueError(f"File '{filename}' contains non-numeric data.")

In [22]:
def write_numbers_to_file(numbers, filename):
    try:
        with open(filename, 'w') as f:
            for num in numbers:
                f.write(f"{num}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [15]:
pos = read_xypos_from_file("DB_ypos_ecal_from.txt", ' ')

In [16]:
write_numbers_to_file(pos, "temp.txt")

# The code below deals with row and nol stuff

In [3]:
def read_numbers_from_file(filename, delimiter=' '):
    numbers = []
    try:
        with open(filename, 'r') as f:
            for line in f:
                row = [float(x) for x in line.strip().split(delimiter) if x]
                numbers.extend(row)
        return numbers
    except FileNotFoundError:
        raise FileNotFoundError(f"File '{filename}' not found.")
    except ValueError:
        raise ValueError(f"File '{filename}' contains non-numeric data.")

In [52]:
numbers = read_numbers_from_file("DB_ncol_per_row_ecal.txt", ' ')

In [53]:
#write_numbers_to_file(numbers,"ncol_per_row_ecal.txt")

In [20]:
# Special function for ncol per row print
def print_ncol_per_row(numbers, filename):
    try:
        with open(filename, 'w') as f:    
            for num in numbers:
                for i in range(int(num)):
                    f.write(f"{int(num)}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [25]:
#print_ncol_per_row(numbers, "ncol_per_row_ecal.txt")

# The code below handels bad channel bit

In [19]:
badc = read_numbers_from_file("JY_bad_channels.txt",' ')

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("ECAL_r_c_x_y_cpr.csv", index_col=0)

In [22]:
df.head()

       row  col     xpos     ypos  ncol_per_row
idblk
0        0    0  1.45074 -0.62217            12
1        0    1  1.45074 -0.57925            12
2        0    2  1.45074 -0.53632            12
3        0    3  1.45074 -0.49177            12
4        0    4  1.45074 -0.44884            12

In [23]:
print(df.loc[int(badc[0]),'xpos'])

1.36489

In [24]:
# Prints ECAL bad channels with x,y pos
def print_ecal_bad_channels(numbers, ecalmap, filename):
    try:
        with open(filename, 'w') as f:  
            f.write("idblk,xpos,ypos\n")
            for num in numbers:
                f.write(f"{int(num)},{ecalmap.loc[int(num),'xpos']},{ecalmap.loc[int(num),'ypos']}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [27]:
print_ecal_bad_channels(badc,df,"bad_ecal_channels_04_05_25.csv")

# Let's add a column to the full ECAL map file to indicate the blocks on edge

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("ECAL_r_c_x_y_cpr.csv")
df.head()

   idblk  row  col     xpos     ypos  ncol_per_row
0      0    0    0  1.45074 -0.62217            12
1      1    0    1  1.45074 -0.57925            12
2      2    0    2  1.45074 -0.53632            12
3      3    0    3  1.45074 -0.49177            12
4      4    0    4  1.45074 -0.44884            12

In [4]:
edgeblkid = read_numbers_from_file("edge_blocks_ecal.txt", ' ')

In [8]:
edgeblkid_int = [int(num) for num in edgeblkid]

In [10]:
edgeblkid_int[0]

0

In [17]:
isonedge = []
for index, row in df.iterrows():
    if row['idblk'] in edgeblkid_int:
        isonedge.append(1)
    else:
        isonedge.append(0)

In [23]:
write_numbers_to_file(isonedge, "temp.txt")