In [47]:
def read_numbers_from_file(filename, delimiter=' '):
    numbers = []
    try:
        with open(filename, 'r') as f:
            for line in f:
                row = [float(x) for x in line.strip().split(delimiter) if x]
                numbers.extend(row)
        return numbers
    except FileNotFoundError:
        raise FileNotFoundError(f"File '{filename}' not found.")
    except ValueError:
        raise ValueError(f"File '{filename}' contains non-numeric data.")

In [51]:
def write_numbers_to_file(numbers, filename):
    try:
        with open(filename, 'w') as f:
            for num in numbers:
                f.write(f"{int(num)}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [52]:
numbers = read_numbers_from_file("DB_ncol_per_row_ecal.txt", ' ')

In [53]:
#write_numbers_to_file(numbers,"ncol_per_row_ecal.txt")

In [24]:
# Special function for ncol per row print
def print_ncol_per_row(numbers, filename):
    try:
        with open(filename, 'w') as f:    
            for num in numbers:
                for i in range(int(num)):
                    f.write(f"{int(num)}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [25]:
#print_ncol_per_row(numbers, "ncol_per_row_ecal.txt")

In [26]:
badc = read_numbers_from_file("JY_bad_channels.txt",' ')

In [28]:
import pandas as pd

In [31]:
df = pd.read_csv("ECAL_r_c_x_y_cpr.csv", index_col=0)

In [32]:
df.head()

       row  col     xpos      ypos  ncol_per_row
idblk
0        0    0  1.45074 -0.564624            12
1        0    1  1.45074 -0.521698            12
2        0    2  1.45074 -0.478772            12
3        0    3  1.45074 -0.434221            12
4        0    4  1.45074 -0.391295            12

In [38]:
print(df.loc[int(badc[0]),'xpos'])

1.36489

In [44]:
# Prints ECAL bad channels with x,y pos
def print_ecal_bad_channels(numbers, ecalmap, filename):
    try:
        with open(filename, 'w') as f:  
            f.write("idblk,xpos,ypos\n")
            for num in numbers:
                f.write(f"{int(num)},{ecalmap.loc[int(num),'xpos']},{ecalmap.loc[int(num),'ypos']}\n")
    except Exception as e:
        raise IOError(f"Failed to write to '{filename}': {e}")

In [45]:
print_ecal_bad_channels(badc,df,"bad_ecal_channels_04_05_25.txt")